

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
  font-family: "Lobster" ;
  
}

h2 {
  color: rgb(0, 0, 0);
  
}

header h2 {
  color: #CEC8FF;
}

footer {
  background-image: linear-gradient(rgb(51, 51, 54), rgba(133, 132, 132, 0.274));
  padding: 20px 0;
  width: 100%;
}
  a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: rgb(131, 8, 28);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(117, 19, 88);
  }
  
  /* selected link */
  a:active {
    color: blue;
  }





.jumbotron {
  margin:0;
  padding: 30px;
  background-image: linear-gradient(to right, #696969, #909090, #484848);
  color: rgb(0, 0, 0);
  min-height: 300px; 
}


.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}
.navbar {
  background-color: rgb(0, 0, 0);
}

.btn {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  align-self: hover;
  background: #060530;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  a.button:hover {
    background-color: aqua;
  }
  
}



button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
.center {
  margin: auto;
  width: 60%;
  /*border: 3px solid #73AD21;*/
  padding: 10px;

  /*
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); }
  
  .carousel {
    border: solid #5637dd; }
  
  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0; }
  
  #reserverModal .modal-header {
    background-color: #17A2B8;
    color: white; }
  
  #loginModal .modal-header {
    background-color: #901CAD;
    color: white; }


    }
  */